.App {
  text-align: center;
}

nav {
  background: aliceblue;
  padding: 16px;
}

nav a {
  color: rgb(37, 11, 11);
  text-decoration: none;
  margin: 20px;
}

.errorpage {
  color: red;
}

/* nav a.active {
  font-weight: bold;
  color: rgb(15, 33, 27);
} */





