.App {
  text-align: center;
}

nav {
  background: aliceblue;
  padding: 16px;
}

nav a {
  color: rgb(37, 11, 11);
  text-decoration: none;
  margin: 35px;
}

.errorpage {
  color: red;
}

.sub-container {
  display: grid;
  grid-template-columns: repeat(3,300px);
  margin-left: 18%;
}

.users-profile {
  margin-bottom: 2rem;
  color: rgb(3, 36, 61);
}

.button-click {
  font-size: 2rem;
}

button {
  font-size: 1.4rem;
  font-weight: 300;
}

.users-names {
  width: 15rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(2, 75, 51);
}


.user-picture {
  width: 40%;
}

.home-container {
  background-image: url(./Images/pexels-mikhail-nilov-6707628.jpg);
  background-size: cover;
  background-position: top;
  height: 91vh;
  padding-bottom: 10px;
}

.home-setting {
  font-size: 3rem;
  color: rgb(1, 99, 99);
}
